.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 999px;
    border: 2px solid var(--blue);


    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.checkbox.uncompleted {
    border: 2px solid var(--blue);
}

.checkbox.completed {
    background: var(--purple-dark);
    border: 2px solid var(--purple-dark);
}

.checkbox.completed:after {
    content: ' ✓';
    display: flex;
    align-items: center;
    justify-content: center;
}