.wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 3.375rem;
    width: 100%;
    margin-top: -1.687rem;
}

input {
    width: 95%;
    border-radius: 8px;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 1rem;
}

input:focus {
    outline: 1px solid var(--purple);
    color: var(--gray-100);
}

.createTask {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.createTask:hover {
    background: var(--blue);
}

.createTask:focus {
    outline: none;
}