.container {
    margin: 0 auto;
    width: 750px;
}

.taskWrapper {
    
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 1.5rem 0;
}

.taskHeader p {
    color: var(--blue);
    font-weight: bold;
    font-size: 0.875rem;
}

.taskHeader p + p {
    color: var(--purple);

}

.taskHeader span {
    background: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: bold;
}

/* .taskBoard {
    display: flex;
    justify-content: center;
} */

.noTask {
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    margin-top: 1.5rem;
    color: var(--gray-300);
    font-size: 1rem;
    line-height: 1.4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}


.noTask svg {
    margin-bottom: 1rem;
}

.noTask p:first-of-type {
    font-weight: bold;
}
















.wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 3.375rem;
    width: 100%;
    margin-top: -1.687rem;
}

input {
    width: 95%;
    border-radius: 8px;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 1rem;
}

input:focus {
    outline: 1px solid var(--purple);
    color: var(--gray-100);
}

.createTask {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.createTask:hover {
    background: var(--blue);
}

.createTask:focus {
    outline: none;
}